<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light mx-2">
    <a class="navbar-brand" routerLink="/list">
      TopNote
    </a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="route mr-2" routerLink="/list" routerLinkActive="active" ariaCurrentWhenActive="page">
          <i class="fa fa-list-ul mr-1"></i>Список записок
        </a>
        <a class="route" routerLink="/add-note" routerLinkActive="active" ariaCurrentWhenActive="page">
          <i class="fa fa-list-ul mr-1"></i>Добавить записку
        </a>
      </div>
    </div>
  </nav>
</header>
