.selected {
  font-weight: bold;
  color: #607D8B;
}
.notes {
  cursor: pointer;
  list-style-type: none;
  padding: 0;
}

.notes li:hover {
  text-decoration: underline;
  color: #607D8B;
}

.notes_list {
  margin-left: 2rem;
}


